<div class="mobile-navbar">
    <div class="menu-link">
        {% render 'icon--hamburger' %}
    </div>

    <div class="logo">
        <a href="/" title="{{ shop.name }}">{{ settings.navbar_logo | image_url: width: 800 | image_tag }}</a>
    </div>

    <div class="cart-link" data-ajax-cart-toggle-class-button="js-my-cart-open">
        {% render 'icon--cart' %}
        <span class="cart-counter" data-ajax-cart-bind-state="cart.item_count">
            {{ cart.item_count }}
        </span>
    </div>
  
</div>