<div class="navbar">
    <div class="navbar-wrapper">
        <div class="left">

        </div>
        <div class="center">
            
        </div>
        <div class="right">

        </div>
    </div>
</div>