footer {
    padding: 0 var(--side-padding);
    
    .footer-wrapper {
        display: grid;
        grid-template-columns: 4fr 6fr;
        align-items: center;
        grid-gap: 20px;
        padding: 20px 0;

        .left {
            display: flex;
            align-items: center;

            img {
                max-width: 300px;
                height: auto;
            }
        }

        .right {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: flex-start;

            h4 {
                font-weight: bold;
                text-transform: uppercase;
                margin: 0 0 14px 0;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;

                a {
                    text-transform: uppercase;
                    position: relative;
                    transition: all 0.3s ease-in-out;
                    display: inline;
                    width: auto;
                }

                a::after {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    height: 2px;
                    background: var(--pink);
                    left: 0;
                    right: 100%;
                    transition: all 0.3s ease-in-out;
                }

                a:hover::after {
                    right: 0;
                }
            }
        }
    }   

    .attribution {
        width: 100%;
        text-align: center;
        font-size: 12px;
        padding: 30px;
    }
}

@media screen and (max-width: 767px) {
    footer {
        padding: 0 40px;
        
        .footer-wrapper {
            display: grid;
            grid-template-columns: 1fr;

            .shop-links {
                display: none;
            }

            .left {
                justify-content: center;
            }

            .right {
                grid-template-columns: 1fr 1fr;
            }
        }

        .attribution {
            padding: 30px 0;
        }
    }
}