@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --black: #000000;
    --white: #ffffff;
    --pink: #ED008C;
    --light-grey: #9F9E9F;

    --side-padding: 50px;
    --sans-serif: 'Work Sans', sans-serif;

    --background-texture: url('https://cdn.shopify.com/s/files/1/0666/6308/8380/files/white-texture.png?v=1696539249');
}

.section-title {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 30px 0;
}

@import './reset.scss';
@import './navbar.scss';
@import './search-modal.scss';
@import './footer.scss';

