.navbar {
    width: 100%;
    background: var(--white);
    box-shadow: var(--drop-shadow--main);
    position: relative;
    z-index: 8;
    
    --column-gap: 5%;

    .navbar-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: stretch;
        padding: 0 var(--side-padding);

        // Globals
        li {

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                padding: 15px 15px 10px 15px;
                border-bottom: 7px solid transparent;
                transition: all 0.3s ease-in-out;
            }
            
        }

        li:hover {
            a {
                border-bottom: 7px solid var(--pink);
            }
        }

        li.active {
            a {
                background: #FEF2F9;
                border-bottom: 7px solid var(--pink);
            }
            
        }


        .left {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            gap: 10px;

            .search-link {
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 7px solid var(--white);
                cursor: pointer;
                padding: 15px 15px 10px 15px;
                transition: all 0.3s ease-in-out;

                svg {
                    height: 30px;
                }
            }

            .search-link:hover {
                border-bottom: 7px solid var(--pink);
            }

            .search-link.active {
                background: #FEF2F9;
                border-bottom: 7px solid var(--pink);
            }

            .shop-menu {
                ul.top-level-menu {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: var(--column-gap);
                    align-items: stretch;
                    height: 100%;

                    li {
                        display: flex;
                        align-items: center;
                        //padding: 15px 15px 10px 15px;

                        a {
                            white-space: nowrap;
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        svg {
                            margin-left: 6px;
                            opacity: 0.4;
                        }
                    }

                }
            }


        }

        .center {
            text-align: center;
            padding: 6px 12px 0 12px;

            img {
                height: 65px;
                width: auto;
                display: block;
            }
        }

        .right {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: stretch;
            gap: var(--column-gap);

            .site-menu {
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: var(--column-gap);
                    align-items: stretch;
                    height: 100%;

                    li {
                        display: flex;
                        align-items: center;
                        //padding: 15px 15px 10px 15px;

                        a {
                            white-space: nowrap;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }

                }
            }

            .shop-actions {
                display: flex;
                flex-direction: row;
                align-items: stretch;
                justify-content: space-between;
                gap: 10px;

                svg {
                    height: 30px;
                    width: 30px;
                }

                .user {
                    display: flex;
                    align-items: center;
                    border-bottom: 7px solid transparent;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }

                .user:hover {
                    border-bottom: 7px solid var(--pink);
                }

                .cart-link {
                    display: flex;
                    align-items: center;
                    border-bottom: 7px solid transparent;
                    cursor: pointer;
                    position: relative;
                    transition: all 0.3s ease-in-out;

                    .cart-counter {
                        border-radius: 50px;
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: var(--pink);
                        color: var(--white);
                        font-size: 10px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -8px;
                        box-shadow: 0 2.03065px 5.06568px 0 rgba(0,0,0,.1);
                    }
                }
                .cart-link:hover {
                    border-bottom: 7px solid var(--pink);
                }

            }

        }
    }
}

.submenu-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    float: left;
    z-index: 2;
    top: -100%;
    background: var(--white);
    padding: 100px var(--side-padding) 20px var(--side-padding);
    left: 0;
    right: 0;
    transition: all 0.5s ease-in-out;
    
    .label {
        text-transform: uppercase;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 20px;

        a {
            text-transform: uppercase;
            font-weight: bold;
        }

        a:hover {
            color: var(--pink);
            border-bottom: 2px solid var(--pink);
        }
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        display: none;
    }
}