/* Announcement Bar */
#company-marquee {
    position: relative;
    width: 100%;
}
#company-marquee .company-marquee-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
#company-marquee .company-marquee-wrapper .close-announcement {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

/* Marquee */
#company-marquee {
    position: relative;
    background-color: var(--white);
    z-index: 4;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 4px 0;
}

.fade-left {
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0));
}

.fade-right {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 60px;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0));
}

.company-marquee-wrapper {
    min-width: 100%;
    max-width: 100%;
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
    
.company-logo-box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
    flex-shrink: 0;
    color: var(--light-grey);
    font-size: 24px;
    cursor: pointer;
}
    
.show-overflow {
    overflow: visible;
}