.hero-swiper-mobile { display: none; }

.hero-swiper {
    width: 100%;
    height: calc(100svh - 71px);
    overflow: hidden;

    .swiper-slide {
        width: 100%;
        height: 100%;
        position: relative;
        border-bottom: var(--border-blk);
        display: flex;
        align-items: flex-end;
        padding: 40px 40px 60px 40px;

        .color-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--pink);
            mix-blend-mode: multiply;
            backdrop-filter: blur(4px);
            opacity: 0.4;
        }

        .info-box {
            background: var(--background-texture);
            background-size: cover;
            background-position: center center;
            border-left: 12px solid var(--pink);
            padding: 40px 40px 40px 42px;
            width: 500px;
            max-width: 43%;
            opacity: 0;
            transform: translateY(-20%);

            span.subtitle {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: bold;
                margin: 0 0 20px 0;
                display: block;
            }

            h2 {
                font-size: 26px;
                font-weight: bold;
                margin: 0 0 32px 0;
                line-height: 1.4;
            }

            .actions {
                display:  flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
                width: 100%;

                a.read-more {
                    font-weight: bold;
                    text-decoration: underline;
                    transition: all 0.3s ease-in-out;
                }

                a.read-more:hover {
                    color: var(--pink);
                }

                a.backlink {
                    color: rgba(0, 0, 0, 0.4);
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }

    }

    .swiper-navigation {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: flex-end;

        svg {
            width: 22px;
            height: 14px;
        }

        .swiper-button-prev {
            position: relative;
            width: auto;
            background: var(--white);
            color: var(--black);
            left: -16px;
            padding: 30px 20px;
            border-left: 7px solid var(--pink);
            transition: all 0.3s ease-in-out;
        }

        .swiper-button-prev:hover {
            background: #fef2f9;

            svg {
                path {
                    stroke: var(--pink);
                }
            }
        }

        .swiper-button-next {
            position: relative;
            width: auto;
            background: var(--white);
            color: var(--black);
            padding: 30px 20px;
            transition: all 0.3s ease-in-out;
        }

        .swiper-button-next:hover {
            background: #fef2f9;

            svg {
                path {
                    stroke: var(--pink);
                }
            }
        }

        .swiper-button-next:after, .swiper-button-prev:after {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {

    .hero-swiper {
        display: none;
    }

    .hero-swiper-mobile { 
        display: block;
        width: 100%;
        height: auto;
        overflow: hidden;

        .swiper-slide {
            width: 100%;
            height: calc(100svh - 66px);
            border-bottom: var(--border-blk);
            display: grid;
            grid-template-rows: 6fr auto;
            padding: 0;
    
            .info-box-mobile {
                background: var(--background-texture);
                background-size: cover;
                background-position: center center;
                border-left: 12px solid var(--pink);
                padding: 40px 40px 40px 42px;
                width: 100%;
                max-width: 100%;
                opacity: 1;
                transform: translateY(0%);

                span.subtitle {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    margin: 0 0 20px 0;
                    display: block;
                }

                h2 {
                    font-size: 26px;
                    font-weight: bold;
                    margin: 0 0 32px 0;
                    line-height: 1.4;
                }

                .actions {
                    display:  flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: space-between;
                    width: 100%;

                    a.read-more {
                        font-weight: bold;
                        text-decoration: underline;
                        transition: all 0.3s ease-in-out;
                    }

                    a.read-more:hover {
                        color: var(--pink);
                    }

                    a.backlink {
                        color: rgba(0, 0, 0, 0.4);
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    
}