.single-product {
    max-width: var(--squeeze);
    margin: 0 auto;
    
    form {
        display: grid;
        grid-template-columns: 54% 1fr;
        grid-gap: 40px;
        align-items: center;
        padding: 0 0 30px 0;
        width: 100%;

        .left {
            width: 100%;
            height: 100%;

            .swiper {
                width: 100%;
                height: 100%;
                min-height: 54vw;

                .swiper-wrapper {

                    .swiper-slide {
                        width: 100%;
                        height: 100%;
                    }

                }

                .swiper-pagination {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    padding: 15px 20px;

                    .swiper-pagination-bullet {
                        width: 16px;
                        height: 16px;
                        border: 2px solid var(--black);
                        background: transparent;
                        opacity: 1;
                    }

                    .swiper-pagination-bullet-active {
                        background: var(--black);
                    }
                }

            }
        }

        .right {
            padding: 60px 40px 60px 40px;

            .category {
                text-transform: uppercase;
                margin: 0 0 10px 0;
            }

            .title {
                font-weight: bold;
                font-size: 32px;
                text-transform: uppercase;
                margin: 0 0 20px 0;
            }

            .description.desktop {
                display: block;
                font-size: 14px;
                line-height: 139%;
                padding: 0 0 20px 0;
            }
            .description.mobile {
                display: none;
                font-size: 14px;
                line-height: 139%;
            }

            .variants {

                .title {
                    font-size: 16px;
                    font-weight: normal;
                }

                ul {
                    padding: 10px 0;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;
    
                    .variant-name {
                        cursor: pointer;
                        display: block;
                        font-size: 16px;
                        white-space: nowrap;
                    }
    
                    li {
                        border: 2px solid var(--white);
                        cursor: pointer;
                        font-weight: bold;
                        transition: all 0.3s ease-in-out;

                        label {
                            padding: 10px;
                            display: block;
                            cursor: pointer;
                        }
                    }
    
                    li:hover {
                        border: 2px solid #999;
                    }
    
                    li:has(input[type="radio"].active) {
                        border: 2px solid var(--pink);
                    }
    
                    input[type="radio"] {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }
    
    
                }
            }
    
            .actions {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                margin: 10px 0;

                .price {
                    font-weight: bold;
                    font-size: 18px;
                }
    
                input[type="submit"] {
                    background: var(--pink);
                    color: var(--white);
                    padding: 10px 40px;
                    border: 0;
                    outline: 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 18px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }
                

                input[type="submit"]:hover {
                    background: var(--black);
                    color: var(--pink);
                }
    
            }

            .size-chart-link {
                margin: 30px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                font-size: 16px;
            }

            .size-chart-link:hover {
                color: var(--pink);
                padding-left: 4px;

                svg {
                    path {
                        fill: var(--pink);
                    }
                }
            }
        }

    }

}

.size-chart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: all 0.3s ease-in-out;

    .size-chart-modal {
        background: var(--white);
        padding: 60px;
        position: relative;
        border-radius: 6px;
        box-shadow: var(--drop-shadow--main);

        .close-size-chart {
            background: var(--pink);
            color: var(--white);
            position: absolute;
            top: -10px;
            right: -10px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            font-size: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: var(--drop-shadow--main);
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
        .close-size-chart:hover {
            box-shadow: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .single-product {
        form {
            display: flex;
            flex-direction: column;

            .left {
                width: 100%;
                height: 100%;

                .swiper {
                    width: 100%;
                    height: 100%;
                    min-height: auto;
                    height: 60svh;

                    .swiper-wrapper {

                        .swiper-slide {
                            width: 100%;
                            height: 100%;
                        }

                    }
                }
            }

            .right {
                padding: 0px 15px 0px 15px;

                .actions {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    margin: 10px 0;

                    .price {
                        font-size: 30px;
                    }

                    #product-add {
                        width: 100%;

                        input[type="submit"] {
                            width: 100%;
                            display: block;
                        }
                    }

                }

                .description.mobile {
                    display: block;

                    .title {
                        font-weight: normal;
                        font-size: 16px;
                        margin: 0 0 14px 0;
                        display: block;
                    }
                }
                .description.desktop {
                    display: none;
                }
            }
        }
    }
}