.single-product {

    form {
        display: grid;
        grid-template-columns: 54% 1fr;
        grid-gap: 30px;
        align-items: center;
        padding: 0 0 30px 0;
        width: 100%;

        .left {
            width: 100%;
            height: 100%;

            .swiper {
                width: 100%;
                height: 100%;
                min-height: 94svh;

                .swiper-wrapper {

                    .swiper-slide {
                        width: 100%;
                        height: 100%;
                    }

                }
            }
        }

        .right {
            padding: 20px var(--side-padding);

            .category {
                text-transform: uppercase;
                margin: 0 0 10px 0;
            }

            .title {
                font-weight: bold;
                font-size: 32px;
                text-transform: uppercase;
                margin: 0 0 20px 0;
            }

            .description {
                font-size: 14px;
                line-height: 139%;
            }

            .variants {

                ul {
                    padding: 20px 0;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;
    
                    .variant-name {
                        cursor: pointer;
                        display: block;
                        font-size: 16px;
                        white-space: nowrap;
                    }
    
                    li {
                        border: 2px solid var(--white);
                        cursor: pointer;
                        font-weight: bold;
                        transition: all 0.3s ease-in-out;

                        label {
                            padding: 10px;
                            display: block;
                            cursor: pointer;
                        }
                    }
    
                    li:hover {
                        border: 2px solid #999;
                    }
    
                    li:has(input[type="radio"].active) {
                        border: 2px solid var(--pink);
                    }
    
                    input[type="radio"] {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }
    
    
                }
            }
    
            .actions {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                margin: 10px 0;

                .price {
                    font-weight: bold;
                }
    
                input[type="submit"] {
                    background: var(--pink);
                    color: var(--white);
                    padding: 10px 40px;
                    border: 0;
                    outline: 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 18px;
                }
    
            }

            .size-chart {
                margin: 30px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }
            .size-chart:hover {
                padding-left: 4px;
            }
        }

    }

}