.team-page {

    .team-hero {
        width: 100%;
    }

    h1 {
        padding: 20px var(--side-padding) 0 var(--side-padding);
        font-size: 26px;
    }
    
    h2 {
        font-size: 26px;
    }

    .team-list {

        ul {
            padding: 0 var(--side-padding);
            list-style: none;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
        }
      
    }

    .team-updates {
        padding: 80px var(--side-padding) 100px var(--side-padding);

        ul {
            display: flex;
            flex-direction: column;
            gap: 30px;

            li {
                display: grid;
                grid-template-columns: 6fr 2fr 2fr 2fr;
                align-items: flex-end;
                grid-gap: 20px;
                border-bottom: 2px solid var(--black);
                padding: 0 0 12px 0;

                .title {
                    font-weight: bold;
                    font-size: 24px;
                    transition: all 0.3s ease-in-out;
                }

                .title:hover {
                    color: var(--pink);
                }

                .tag {
                    font-weight: bold;
                    font-size: 18px;
                    text-transform: uppercase;
                }

                .backlink {
                    font-style: italic;
                    text-transform: uppercase;
                    a {
                        transition: all 0.3s ease-in-out;
                    }
                    
                }

                .backlink:hover a {
                    color: var(--pink);
                    text-decoration: underline;
                }

                .read-more {
                    text-align: right;
                    text-transform: uppercase;
                    text-decoration: underline;
                    transition: all 0.3s ease-in-out;
                }

                .read-more:hover {
                    color: var(--pink);
                }
            }
        }
    }
}