{{ 'component--company-marquee.css' | asset_url | stylesheet_tag }}

<div class="marquee js-marquee">
  <div class="marquee__inner" aria-hidden="true" ref="inner">
    {% for block in section.blocks %}
        <span class="marquee__part">
            <img src="{{ block.settings.company_image | image_url: width: 100 }}" />
        </span>
    {% endfor %}
  </div>
</div>



{% schema %}
    {
      "name": "Company Marquee",
      "tag": "section",
      "class": "company-marquee-section section",
      "settings": [
        {
          "type": "text",
          "id": "company_marquee",
          "label": "Company Marquee"
        }
      ],
      "blocks": [
        {
          "name": "Company",
          "type": "company",
          "settings": [
            {
              "type": "text",
              "id": "company_title",
              "label": "Title"
            },
            {
              "type": "url",
              "id": "company_link",
              "label": "Link"
            },
            {
              "type": "image_picker",
              "id": "company_image",
              "label": "Logo"
            }
          ]
        }
      ],
      "presets": [{
        "name": "Company Marquee"
      }]
    }
  {% endschema %}
