{{ 'page--shop.css' | asset_url | stylesheet_tag }}
{{ 'product-card--collection.css' | asset_url | stylesheet_tag }}

<div class="collection-page">
  {% section 'announcement-slider' %}

  {% paginate collection.products by 10 %}
  
    {% render 'collection-filters' %}
    
    <ul class="product-list">
      {% for product in collection.products %}
          {% include 'product-card--collection', prod: product %}
      {% else %}
        <p>There are no products in this view.</p>
      {% endfor %}
     </ul>
  
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination }}
    {% endif %}
  
  {% endpaginate %}
</div>


{% comment %}
  JavaScript for collection sorting.
{% endcomment %}
<script>
jQuery('.sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by }}')
  .on('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>