{{ 'page--home.css' | asset_url | stylesheet_tag }}

<div class="homepage">

    {% section 'homepage-slider' %}

    {% section 'company-marquee' %}

    {% section 'latest-products' %}

    {% section 'team-mates' %}

    {% section 'newsletter-module' %}

</div>

<script>
  const swiper = new Swiper('.hero-swiper', {
    direction: 'horizontal',
    loop: true,
    autoplay: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      init: function() {
        gsap.to('.info-box', {
          opacity: 1,
          y: 0,
          duration: 0.4
        }); 
        gsap.to('.color-overlay', {
          opacity: 0,
          duration: 0.2
        });
      },
      transitionStart: function() {
        gsap.to('.info-box', {
          opacity: 0,
          y: -20,
          duration: 0.4
        });
        gsap.to('.color-overlay', {
          opacity: 0.4,
          duration: 0.1,
          ease: "power1.out"
        });
      },
      transitionEnd: function() {
        gsap.to('.info-box', {
          opacity: 1,
          y: 0,
          duration: 0.4
        });
        gsap.to('.color-overlay', {
          opacity: 0,
          duration: 0.2
        });
      }
    }
  });

  const zwiper = new Swiper('.hero-swiper-mobile', {
    direction: 'horizontal',
    loop: true,
    autoplay: true
  });
</script>